
body {
  color: #000;
  background-color: white;
  font-family: 'Roboto', cursive;
}

main {
  margin: 80px 10px 0 10px;
  text-align: center;
  display: flex;
  background-color: #f9f9f9;
  height: 100vw;
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.line-break {
  border: 1px solid #e0e0e0;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  align-items: center;
  top: 0;
  left: 0;
  min-height: 60px;
  display: flex;
  z-index: 999;
}

#menu-image {
  height: 30px;
  width: 25px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#header-img {
  height: 25px;
  float: left;
  margin-top: 13px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.search-bar {
  text-align: center;
  display: flex;
  width: 100%;
}

#search-area {
  margin-left: auto;
  padding: 3px;
  font-size: 17px;
  border: 1px solid grey;
  flex-grow: 1;
  max-width: 30vw;
}

#search-button {
  margin-right: auto;
  background-color: #f8f8f8;
  padding: 3px 30px 3px 30px;
  color: #000;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

#glass {
  height: 20px;
  width: auto;
}

nav {
  display: flex;
  justify-content: right;
}

#nav-bar {
  float: right;
}

.nav-link {
  color: #d5d7d8;
  margin: 5px;
}

.video-section {
  float: left;
  flex-grow: 4;
}

#main-video {
  width: 100%;
}

.vtitle {
  text-align: left;
  display: block;
  justify-content: left;
}

.sub-container {
  display: flex;
  justify-content: space-between;
}

.submenu {
  margin-right: 60px;
  text-align: left;
  font-size: 15px;
  color: grey;
  display: flex;
  align-items: center;
}

.sub-menu-image {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.channel-name {
  display: flex;
  justify-content: space-between;
}

.video-information {
  display: inline;
  text-align: left;
}

.video-information > p {
  margin-top: 20px;
}

.subscribe-button {
  background-color: #c00;
  border: #c00;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', cursive;
  font-weight: 700;
  height: 40px;
  padding: 10px;
}

.comment-section {
  text-align: left;
  margin-left: 0px;
}

.right-menu {
  margin: 5px;
  height: 30px;
  width: 30px;
}

.submit-comment {
  display: flex;
  text-align: left;
}

.avatar-container {
  flex-grow: 1;
}

.comment-form-container {
  flex-grow: 50;
}

.comment {
  display: flex;
  margin-top: 30px;
}

.comment-form {
  margin-top: 10px;
  width: 100%;
  color: #646464;
  background-color: #f9f9f9;
  border: 1px solid transparent;
  border-bottom: 1px solid #e0e0e0;
}

.comment-body {
  flex-grow: 50;
  display: flex;
  flex-flow: column;
  text-align: left;
}

.comment-icons {
  height: 1em;
  width: 1em;
}

.recommendations {
  display: flex;
  flex-flow: column;
  text-align: left;
  flex-grow: 1;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
}

.thumbnail-recommendation {
  display: flex;
  margin-bottom: 10px;
}

.views {
  padding-left: 10px;
  font-size: 10px;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.thumbnail-image {
  width: 190px;
  height: 110px;
}

.thumbnail-text {
  text-align: left;
}

.about-video {
  font-size: 14px;
  padding-left: 10px;
  margin-top: 0px;
}
