body {
  color: #000;
  background-color: white;
}

main {
  margin: 80px 10px 0px 10px;
  text-align: center;
  display: flex;
}

/* header */
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  align-items: center;
  top: 0;
  left: 0;
  min-height: 60px;
  display: flex;
  z-index: 999;
}

#header-img {
  height: 25px;
  float: left;
  margin-top: 13px;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* navbar */
#nav-bar {
  float: right;
}

nav {
  display: flex;
  justify-content: right;
}

#avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.nav-link {
  color: #d5d7d8;
  margin: 5px;
}

#menuImage {
  height: 30px;
  width: 25px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.searchBar {
  text-align: center;
  display: flex;
  width: 100%;
}

#search-area {
  margin-left: auto;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  flex-grow: 1;
  max-width: 30vw;
}

#search-button {
  margin-right: auto;
  background-color: #f8f8f8;
  padding: 10px;
  color: #000;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.rightMenu {
  margin: 5px;
  height: 30px;
  width: 30px;
}

/* video */
.video-section {
  float: left;
  width: 60vw;
  padding-left: 2vw;
  padding-top: 1vh;
}

#main-video {
  width: 60vw;
}

#glass {
  height: 10px;
  width: auto;
}

/* recommendation */
/* submenu */
/* VIDEO SECTION */
.recommendations {
  display: flex;
  flex-flow: column;
  width: 10px;
  height: 10px;
  flex-grow: 0;
  padding: 10px;
}
.thumnbailRecomendation
{
  display: flex;
  flex-grow: 1;
}
.submenu {
  grid-area: sb;
  margin-right: 60px;
  text-align: left;
  font-size: 15px;
  color: grey;
  display: flex;
}

.subMenuImage {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.sub-container{
  display: flex;
  justify-content: space-between;
}
.vtitle {
  grid-area: vt;
  text-align: left;
  display: block;
  justify-content: left;
}

.comments {
  margin-top: 20px;
  grid-area: c;
}

a>u {
  text-decoration: none;
}
.thumbnailImage
{
  width: 190px;
  height: 110px;
}
.aboutVideo
{
  font-size: 14px;
  
}