body {
  color: #000;
  background-color: white;
  font-family: 'Roboto', cursive;
}

main {
  margin: 80px 10px 0 10px;
  text-align: center;
  display: flex;
  background-color: #f9f9f9;
  height: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;

}

.line-break {
  border: 1px solid #e0e0e0;
}

/* header */
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  align-items: center;
  top: 0;
  left: 0;
  min-height: 60px;
  display: flex;
  z-index: 999;
}

#header-img {
  height: 25px;
  float: left;
  margin-top: 13px;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* navbar */
#nav-bar {
  float: right;
  align-items: center;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.nav-link {
  color: #d5d7d8;
  margin: 5px;
}

#menuImage {
  height: 30px;
  width: 25px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.searchBar {
  text-align: center;
  display: flex;
  width: 100%;
}

#search-area {
  margin-left: auto;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  flex-grow: 1;
  max-width: 30vw;
}

#search-button {
  margin-right: auto;
  background-color: #f8f8f8;
  padding: 10px;
  color: #000;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.rightMenu {
  margin: 5px;
  height: 30px;
  width: 30px;
}

/* video */
.video-section {
  float: left;
  flex-grow: 4;
}

#main-video {
  width: 100%;
}

#glass {
  height: 10px;
  width: auto;
}

.recommendations {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 10px;
}

.thumnbailRecomendation {
  display: flex;
  margin-bottom: 10px;
}

.submenu {
  margin-right: 60px;
  text-align: left;
  font-size: 15px;
  color: grey;
  display: flex;
}

.subMenuImage {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.sub-container {
  display: flex;
  justify-content: space-between;
}

.vtitle {
  text-align: left;
  display: block;
  justify-content: left;
}

a > u {
  text-decoration: none;
}

.thumbnailImage {
  width: 190px;
  height: 110px;
}

.aboutVideo {
  font-size: 14px;
  padding-left: 10px;
  text-align: left;
}

.views {
  padding-left: 10px;
  font-size: 10px;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.channelName {
  display: flex;
  justify-content: space-between;
}

.videoInformation {
  display: inline;
  text-align: left;
}

.subscribeButton {
  background-color: #c00;
  border: #c00;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', cursive;
  font-weight: 700;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.submit-comment {
  display: flex;
  text-align: left;
}

.avatar-container {
  flex-grow: 1;
}

.comment-form-container {
  flex-grow: 50;
}

.comment {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.comment-form {
  margin-top: 10px;
  width: 100%;
  color: #646464;
  background-color: #f9f9f9;
  border: 1px solid transparent;
  border-bottom: 1px solid #e0e0e0;
}

.commentBody {
  flex-grow: 50;
  margin-left: 20px;
  display: flex;
  flex-flow: column;
}

.commentIcons {
  height: 1em;
  width: 1em;
}

.commentSection {
  text-align: left;
}

.comments {
  margin-top: 40px;
}
